sass_binary_site=https://npmmirror.com/package/node-sass/
phantomjs_cdnurl=https://npmmirror.com/package/phantomjs/
electron_mirror=https://npmmirror.com/package/electron/
registry=https://registry.npmmirror.com
