:export {
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #001529;
  menuHover: #000c17;
  menuLightBg: #ffffff;
  menuLightHover: #f0f1f5;
  subMenuBg: #000c17;
  subMenuHover: #001528;
  sideBarWidth: 210px;
  sidebarTitle: #ffffff;
  sidebarLightTitle: #001529;
}
